

<footer>
    <a href="https://github.com/ditanica424" target="_blank">GITHUB.COM</a>
    <a href="https://ditanica424.github.io" target="_blank">GITHUB.IO</a>
    <a href="https://ditanica424.github.io/web215/index.html" target="_blank">WEB215.IO</a>
    <a href="https://www.freecodecamp.org/D_laquise" target="_blank">FREECODECAMP</a>
    <a href="https://www.codecademy.com/profiles/D_Laquise" target="_blank">CODECADEMY</a>
    <a href="https://www.linkedin.com/in/ditanica-farley-64a898262/" target="_blank">LINKEDIN</a> 
    <a href="https://jsfiddle.net/user/Ditanica/fiddles/" target="_blank">JSFIDDLE</a> 

    <h3><em>YOUR TRAVEL GUIDE TO THE WORLD!</em></h3>
    
    <p>Designed by Ditanica Farley &copy; 2024</p>
    
    <figure>
        <a href="http://validator.w3.org/check?uri=referer" id = "validation_link_html" target="_blank">
        <img src="images/validation_button_html.png" alt = "html validator" height = "31" width = "88" style = "border: 0px;"></a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css" target="_blank">
        <img src="images/validation_button_css.gif" alt = "css validator" height = "31" width = "88" style = "border: 0px;"></a>

        <script>
            document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
    </figure>
</footer>

