body {
    background-color: rgba(30,115,190);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}


header {
    height: 100px;
    text-align: center;
    font-size: 25px;
}


main {
    height: auto;
    padding-left: 240px;
    padding-right: 240px;
}


.box1 {
    background-color: rgba(0, 0, 0, 0.463);
    width: 1090px;
    height: auto;
    margin: auto;
    padding: 10px 20px;
    margin-top: 10px;
}

.box1 a{
    padding: 0;
    text-decoration: underline;
}


nav {
    background-color: rgba(0, 0, 0, 0.463) ;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}


 a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: yellow
}

a:hover {
    color: red;
}

h2 {
    text-align: center;
    font-family: Lucida sans;
    font-size: 35px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

hr {
    height: 5px;
    background-color: Yellow;
}


figure{
    text-align: center;
}


figcaption {
    font-style: italic;
    text-align: center;
}


ul {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}



p {
    font-size: 20px;
}


footer {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

form {
    font-size: 1.5em;
}

label {
    display: flex;
    padding: .125em;
    color: yellow;
}

input {
    border: none;
    border-bottom: 2px solid white;
    display: flex;
    padding: .125em;
    color: black;
}

