body {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1099px;
}
*/


.box1 {
    background-color: rgba(0, 0, 0, 0.463);
    width: 1090px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}


header {
    height: 100px;
    text-align: center;
}

header h1 {
    color: red;
    font-style: normal;
    font-size: 50px;
}

nav {
    background-color:red;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a {
    text-decoration: none;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

main {
    height: auto;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

main a{
    color: red;
}

main h2 {
    color: red;
    font-style: normal;
    font-size: 35px;
}

figcaption {
    color: red;
    font-style: italic;
}

ul {
    color: yellow;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-bottom: 10px;
}

dl {
    color: yellow;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left; 
}

p {
    color: yellow;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color:red;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

footer p{
    color: yellow;
}

footer a {
    text-decoration: none;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


form {
    font-size: 1.5em;
}

label,
input {
    display: flex;
    padding: .125em;
}

#courseInputsContainer {
    margin-left: 7.4em;
}

#formContainer input {
    display: block;
    margin-bottom: .3em;
}

input {
    padding: 0;
    font-size: .8em;
    box-sizing: content-box;
}

#formOutput #resetButton {
    margin-top: 20em;
}

#formOutput li {
    font-family: garamond;
}

#resetButton {
    margin-bottom: 1em;
}

