/* controls the background*/
html {
    background-color: rgba(0, 0, 0, 0.132);
}

/*Changes header, nav, main and footer all at once*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 1090px;
}

header {
    background-color: yellow;
    height: auto;
}

header h1 {
    font-style: italic;
    font-size: 80px;
    font-family: fantasy;
    text-align: center;
}

header h2{
    font-style: normal;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


nav {
    background-color: blueviolet;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: blue;
    height: auto;
    text-align: left;
    font-size: 30px;
}

footer {
    background-color: red;
    height: auto;
    text-align: center;
    
}