body {
    background-image: url(web250/images/Background.jpg);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header {
    height: 100px;
    text-align: center;
}

nav {
    background-color: red;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

figcaption {
    color: red;
    font-style: italic;
}

main {
    height: auto;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.box1{
    background-color: black;
    width: auto;
    height: auto;
}

footer {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

header h1 {
    color: gold;
    font-style: italic;
    font-family: cursive;
    font-size: 50px;
}

main h1 {
    color: red;
    font-style: normal;
    font-size: 25px;
}

main p {
    color: red;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

ul {
    color: red;
    font-style: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    
}

dl {
    color: red;
    font-style: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left; 
}

p {
    color: red;
    font-style: normal;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}


nav a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

   
}

footer a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}